@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/src/assets/earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2 {
  font-family: 'Russo One', sans-serif;
}

main {
  padding: 0 !important;
}

/* header component  */
.header {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(19, 19, 19);
}

.header h1 {
  text-align: center;
  color: #f2f2f2;
  font-size: 3rem;
}

.header .favs {
  margin-right: 10vw;
  text-decoration: none;
  color: #f2f2f2;
}
/* ************************  */

/* content component */
.content {
  height: 70vh;
  display: grid;
  place-items: center;
}

.film-content {
  margin: 1.5rem;
  width: 70%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 20px;
}
/* ************************  */

/* TOC component */
.toc-container {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  height: 100%;
  color: #f2f2f2;
}

.toc-container i {
  color: #f2f2f2 !important;
  font-size: 2rem;
}

.toc-container button:focus {
  box-shadow: none;
}

/* ************************  */

/* desktop - bigger than sm576 */
@media only screen and (min-width: 576px) {
  .toggle-toc {
    display: none !important;
  }
  .header h1 {
    font-size: 5rem;
  }
}
