body {
  background-image: url('/src/assets/earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* header  */
.header {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(19, 19, 19);
}

.header h1 {
  text-align: center;
  color: #f2f2f2;
  font-size: 3rem;
}

.header .favs {
  margin-right: 10vw;
  text-decoration: none;
  color: #f2f2f2;
}
/* ************************  */

.content {
  height: 70vh;
  display: grid;
  place-items: center;
}

.film-content {
  width: 70%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 20px;
}

.toc-container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

.toggle-toc {
  margin: 10px;
  position: absolute;
  right: 1rem;
}

/* desktop - bigger than sm576 */
@media only screen and (min-width: 576px) {
  .toggle-toc {
    display: none !important;
  }
  .header h1 {
    font-size: 5rem;
  }
}
